.rounded{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar{
    width: 40%;
    border-radius: 50%
}

.welcome {
    margin: 0 auto;
}

.welcome h1 {
font-size: 3.5em;
}