html,
h1,
h2,
h3,
h3,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4 {
    -webkit-font-smoothing: antialiased;
}

.home {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 9.5em;
}

.book {
    width: 18rem;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 25px !important;
}

.book .card-title {
    font-family: inherit !important;
}

#photo {
    margin: 0 auto;
    display: block;
}

.pwrapper {
    margin-top: 5em;
}

.pwrapper div {
    box-shadow: 0px 0px 0px #666;
}

.mwrapper {
    padding: 0 !important;
}

.bwrapper.card {
    border: 0 !important;
}

.profile.container {
    max-width: 1181px !important;
}

.bookdesc {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

#id01 {
    align-items: center;
    margin-top: 10%;
}