{% extends 'dashboard.html' %}
{% load static %}


{% block main %}
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                <h1 class="h3 mb-0 text-gray-800">Book Add</h1>
                {% comment %} <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i>
                    Add New Member
                </a> {% endcomment %}
            </div>          

            <div class="row mt-2 rounded shadow mx-2 bg-white ">
                <div class="col-6 m-auto p-4">
                  <form method="post"> {% csrf_token %}
                    <div class="my-3">
                      <label for="book_id" class="form-label">Book ID</label>
                      <input type="text" class="form-control" id="book_id" name="book_id" value="{{book.book_id}}">
                    </div>
                    <div class="my-3">
                      <label for="title" class="form-label">Title</label>
                      <input type="text" class="form-control" id="title" name="title" value="{{book.title}}">
                    </div>
                    <div class="my-3">
                      <label for="author" class="form-label">Author</label>
                      <input type="text" class="form-control" id="author" name="author" value="{{book.author}}">
                    </div>
                    <div class="my-3">
                      <label for="price" class="form-label">Price</label>
                      <input type="text" class="form-control" id="price" name="price" value="{{book.price}}">
                    </div>
                    <div class="my-3">
                      <label for="available" class="form-label">Available</label>
                      <select class="form-select form-control" aria-label="Default select example" name="available" >
                        <option>Select Availablity</option>
                        <option {% if book.available is True %}selected{% endif %} value="True">True</option>
                        <option {% if book.available is False %}selected{% endif %} value="False">False</option>
                      </select>
                      {% comment %} <input type="text" class="form-control" id="available" name="available"> {% endcomment %}
                    </div>
                    <div class="my-3">
                      <label for="publisher" class="form-label">Publisher</label>
                      <input type="text" class="form-control" id="publisher" name="publisher" value="{{book.publisher}}">
                    </div>
                    <div class=" text-center">
                      <input type="submit" value="Add" class="col-4 btn btn-primary"> 
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
  
    {% if error == "no" %}
      <script>
              alert('New book has been created.');
              window.location=('{% url 'book_table' %}');
      </script>
    {% endif %}

    {% if error == "yes" %}
      <script>
              alert('Something went wrong, Try Again...');
      </script>
    {% endif %}

{% endblock main %}
    