<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Library - Home</title>

  <!-- Custom fonts for this template-->
  <link href='vendor/fontawesome-free/css/all.min.css' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href='../static/bootstrap.min.css' rel="stylesheet">
  <link href="../static/home.css">

</head>

<body class="bg-gradient-warning">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img src='../static/images/logo.png' class="rounded" alt="Cinque Terre">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome To Library</h1>
                  </div>
                  <a href='{% url 'user_login' %}' class="btn btn-danger btn-block btn-lg">Admin Login</a>
                  <br>
                  <a href='{% url 'user_login' %}' class="btn btn-primary btn-block btn-lg">User Login</a>
                  <br>
                  <a href="#" class="btn btn-success btn-block btn-lg">Forgot Password</a>
                  <hr>
                  <div class="text-center">
                    <div class="text-center">
                    <a class="small" href="#">Subscribe</a>
                  </div>
        
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  
</body>

</html>