{% extends 'dashboard.html' %} {% load static %} {% block main %}
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4" >
        <h1 class="h3 mb-0 text-gray-800">Issue/ Return Book</h1>
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button> -->
            <input type="text" name="searchdata" class="form-control" placeholder="Enter Member ID" required />
            <input type="submit" value="Search" class="btn btn-primary" />
          </div>
        </form>
        <a href="{% url 'member_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
          <i class="fas fa-plus-circle fa-sm text-white-100"></i>
          Add New Member
        </a>
      </div>

      <div class="row mt-2 rounded shadow mx-2 bg-white">
        <div class="col">
          {% if memberSearch %}
            {% for m in memberSearch %}
          <div class="card-body">
            <table id="example1" class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 25%">Member ID</th>
                  <td style="width: 25%">{{m.memb_id}}</td>
                  <th style="width: 25%">Name</th>
                  <td style="width: 25%">{{m.name}}</td>
                </tr>
                <tr>
                  <th>Member Type</th>
                  <td>{{m.memb_type}}</td>
                  <th>Address</th>
                  <td>{{m.address}}</td>
                </tr>
                <tr>
                  <th>Member Date</th>
                  <td>{{m.memb_date}}</td>
                  <th>Member Expiry Date</th>
                  <td>{{m.expiry_date}}</td>
                </tr>
              </thead>
              
            </table>
            <br />

            <table id="example1" class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 15%%">Book ID</th>
                  <th style="width: 15%">Title</th>
                  <th style="width: 15%">Author</th>
                  <th style="width: 15%">Price</th>
                  <th style="width: 15%">Available</th>
                  <th style="width: 15%">Publisher</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {% for b in books %} {% comment %} {% if book_id is brrowBy %}
                {% endcomment %}
                <tr>
                  <td>{{b.book_id}}</td>
                  <td>{{b.title}}</td>
                  <td>{{b.author}}</td>
                  <td>{{b.price}}</td>
                  <td>{{b.available}}</td>
                  <td>{{b.publisher}}</td>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{% url 'book_edit' b.id %}" >
                        <i class="fa fa-edit"></i>
                      </a>&nbsp;&nbsp;&nbsp;
                      <a class="btn btn-danger" onclick="return confirm('Are you sure to Delete ?')" href="{% url 'book_delete' b.id %}" >
                        <i class="fa fa-trash-alt"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% comment %} {% endif %} {% endcomment %} {% endfor %}
              </tbody>
            </table>
            
            <table id="example1" class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 15%">Book ID</th>
                  <th style="width: 15%">Member</th>
                  <th style="width: 15%">Book</th>
                  <th style="width: 15%">Due Date</th>
                  <th style="width: 15%">Return Date</th>
                  <th style="width: 15%">Issue Date</th>
                </tr>
              </thead>

              <tbody>
                {% for i in brrowBy %} 
                {{m.memb_id}}
                {{i.member}}
                  {% comment %} {% if m.memb_id is i.member %} {% endcomment %}
                    <tr>
                      <td>{{i.book_id}}</td>
                      <td>{{i.member}}</td>
                      <td>{{i.book}}</td>
                      <td>{{i.due_date}}</td>
                      <td>{{i.return_date}}</td>
                      <td>{{i.issue_date}}</td>
                    </tr>
                  {% comment %} {% endif %} {% endcomment %}
                {% endfor %}
              </tbody>
            </table>

            <br />
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endblock main %}
</div>
